[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/arnajib
[access "refs/for/refs/*"]
	read = group user/arnajib
	push = group user/arnajib
	label-Code-Review = -2..+2 group user/arnajib
	label-Verified = -1..+1 group user/arnajib
	rebase = group user/arnajib
	removeReviewer = group user/arnajib
	submit = group user/arnajib
[access "refs/heads/*"]
	read = group user/arnajib
	create = group user/arnajib
	push = +force group user/arnajib
	pushMerge = group user/arnajib
[access "refs/tags/*"]
	push = +force group user/arnajib
	pushTag = group user/arnajib
	pushSignedTag = group user/arnajib
